/*=============================================
=            mobile-toggler                    =
=============================================*/

.mobile-toggler {
    @apply px-0;
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 1.5rem;
    left: 0rem;
    z-index: 10;
}

.mobile-toggler .x,
.mobile-toggler .y {
    @apply bg-white;
    position: absolute;
    height: 2px;
    width: inherit;
    left: 0;
}

#mobile .x,
#mobile .y {
    @apply bg-red;
}

.mobile-toggler .x {
    @apply transition-all duration-200;
    top: calc(50% - 2px);
}

.mobile-toggler:hover .x {
    top: calc(50% - 6px);
}

.mobile-toggler .y {
    @apply transition-all duration-200;
    top: calc(50% + 2px);
}

.mobile-toggler:hover .y {
    top: calc(50% + 6px);
}

.mobile-toggler.active .x {
    top: 50%;
    transform: rotate(45deg);
}

.mobile-toggler.active .y {
    top: 50%;
    transform: rotate(-45deg);
}

@screen lg {
    .mobile-toggler {
        display: none;
    }
}
